.mainContainerStyle{
    background: #1d62c8;
    height: 100vh;
}

.titleStyle{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff;
    position: absolute;
    left: 10%;
}

.bodyStyle{
    background: #fff;
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}